<div id="new-product" th:fragment="new-product">
    <form method="post" th:action="@{/new-product}">
        <label for="name">Name</label>
        <input id="name" name="name" type="text"/>
        <label for="description">Description</label>
        <input id="description" name="description" type="text"/>
        <label for="category">Category</label>
        <input id="category" name="category" type="text"/>
        <label for="quantity">Quantity</label>
        <input id="quantity" name="quantity" type="number"/>
        <button role="button" type="submit">Submit</button>
    </form>
</div>
